<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <% if user_signed_in? %>
  <p>
    <%= form.submit %>
  </p>
  <% else %>
    <p>You should log in to comment</p>
  <% end %>
<% end %>
